# H1 : Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

## Data Science Tools

|  Data Management | Data Integration and Transformation | Data Visualization | Model Building | Model Deployment | Model Monitoring and Assessment |
| --- | --- | --- | --- | --- | --- |
| Oracle Database | Apache AirFlow | Pixie Dust | SPSS Modeler | Apache PredictionIO | ModelDB |
| Microsoft SQL Server | KubeFlow | Hue | SAS enterprise miner | Seldon | Prometheus |
| IBM Db2 | Apache Kafka | Kibana | | Kubernetes | IBM AI Fairness 360 |
|         | Apache Nifi | Apache Superset | | Redhat OpenShift | IBM Adversarial Robustness 360 Toolbox |
|         | Apache SparkSQL | | | Mleap | IBM AI Explainability 360 |
|         | NodeRED | | | TensorFlow service | |
| --- | --- | --- | --- | --- | --- |

### H3 : Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers 
17

# This will convert 200 minutes to hours by diving by 60
3.33

# Objectives :
1. Python
2. R
3. SQL
4. Scala
5. Java

## H2 : Author
Dzikry Mashuril